p {
    font-weight: bolder;

}

.normal-paragraph {
    font-size: 20px;
}

.small-paragraph {
    font-size: 14px;
}

div.text {
    font-size: 22px;
}

div.child {
    font-weight: bolder;
    font-size: 14px;
    
}

