
nav {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content:flex-start;
    gap: 20px;
    background-color:black;
    color: aqua;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
}

li {
    list-style-type: lower-alpha;
    font-style: italic;
}

img {
    display: inline;
}


a {
    width: auto;
    color: blueviolet;
    background-color:aqua;
}

